<h1>使用者註冊</h1>

<%= form_for @user, url: sign_up_path, method: 'post' do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit t("button.submit") %>
<% end %>