<% if mission.errors.any? %>
  <ul >
    <% mission.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for mission, data: { turbo: false } do |f| %>
  <div class="px-8 py-12">
    <%= f.label :title %>
    <%= f.text_field :title ,class: "w-full border-solid border rounded-md h-10 my-2" %>
    <%= f.label :content %>
    <%= f.text_area :content ,class: "w-full border-solid border rounded-md h-20 my-2" %>
    <%= f.label :end_time %>
    <div class="border-solid border w-max rounded-md py-0.5 inline-block mr-3"> 
      <%= f.date_select :end_time , use_month_numbers: true, default: 3.days.from_now %>
    </div>
    <%= f.label :status %>
    <div class="border-solid border w-max rounded-md py-0.5 inline-block">
      <%= f.select :status, options_for_select([[ t("priority"), "priority" ],[ t("medium"), "medium" ],[ t("norush"), "norush" ]]) %>
    </div>
    <div>
      <%= f.label :all_tags %>
      <%= f.text_field :all_tags ,placeholder: "請用逗號隔離" %>
    </div>
    <div class="space-x-4">
      <button class="px-4 py-2 bg-blue-500 text-white rounded-md mt-4"><%= f.submit t("button.submit") %></button>
      <button class="px-4 py-2 bg-red-600 text-white rounded-md mt-4"><%= link_to t("link.back_root"), root_path %></button>
    </div>
  </div>
<% end %>

  