<h1><%= t("missions_list") %></h1>

<%= notice %>
<br>
<%= link_to t("mission.new"), new_mission_path %>
<br>
<%= search_form_for @q do |f| %>
  <%= f.label :title %>
  <%= f.search_field :title_cont_any %>
  <br>
  <%= f.label :aasm_state %>
  <%= f.select :aasm_state_eq, options_for_select([["請選擇",""],[t("doing"), "doing"], [t("processing"), "processing"], [t("finishing"), "finishing"]])%>
  <br>
  <%= f.submit %>
<% end %>
<tr>
  <td><%= t("mission.title") %></td>
  <td><%= t("mission.content") %></td>
  <td><%= sort_link(@q, :status) %></td>
  <td><%= sort_link(@q, :end_time) %></td>
  <td><%= t("mission.aasm_state") %></td> 
</tr>
<br>
<% @missions.each do |mission| %>
<div class="box">
  <td><%= mission.title %></td>
  <td><%= mission.content %></td>
  <td><%= mission.created_at&.strftime("%Y/%m/%d %I:%M %p") %></td>
  <td><%= t("#{mission.status}") %></td>
  <td><%= t("#{mission.aasm_state}") %></td>
  <td><%= mission.end_time&.strftime("%Y/%m/%d")%></td>
  <td>
    <%= link_to t("mission.edit"), edit_mission_path(mission) %>
    <%= link_to t("mission.delete"), mission_path(mission), data: {
                    turbo_method: :delete,
                    turbo_confirm: t("notice.confirm")
                  } %>
    <% if mission.doing? %>
      <%= link_to '開始處裡', missions_path(id: mission.id, event: 'todo') %>
    <% elsif mission.processing? %>
      <%= link_to '完成任務', missions_path(id: mission.id, event: 'done') %>
    <% else %>
      <%= link_to '尚未完成', missions_path(id: mission.id, event: 'undo') %>
    <%end%>
  </td>
  <br>
</div>
<% end %>
