<h1><%= t("missions_list") %></h1>

<%= notice %>
<br>
<%= link_to t("mission.new"), new_mission_path %>
<br>
<tr>
  <td><%= t("mission.title") %></td>
  <td><%= t("mission.content") %></td>
</tr>
<br>
<% @missions.each do |mission| %>
<tr>
  <td><%= mission.title %></td>
  <td><%= mission.content %></td>
  <td><%= mission.created_at %></td>
  <td>
    <%= link_to t("mission.edit"), edit_mission_path(mission) %>
    <%= link_to t("mission.delete"), mission_path(mission), data: {
                    turbo_method: :delete,
                    turbo_confirm: t("notice.confirm")
                  } %>
  </td>
  <br>
</tr>
<% end %>
