<nav class="navbar w-full bg-gray-100 p-4 flex justify-between items-center">
  <div>
    <a href="/" class="text-xl"><%= t("mission_system")%></a><span class="px-2 text-base text-blue-700">hello, Rails :)</span>
  </div>
  <div class="space-x-1">
    <% if current_user %>
      <span class="text-blue-500" ><%= current_user.email %></span>
      <%= link_to t("logout"), log_out_path, data: { turbo_method: :delete }, class:"hover:text-blue-900" %>
      <% if current_user.admin? %>
        <button><%= link_to t("admin_page"), admin_users_path %></button>
      <% end %>
    <% else %>
      <%= link_to t("admin_page"), log_in_path %>
      <%= link_to t("sign_up"), sign_up_path %>
    <% end %>
  </div>  
</nav>